.pytest_cache/*
.cache/*
.idea/*
datasets/*
!datasets/.gitkeep
!datasets/test_inria
datasets/test_inria/images/.thumbnail
.history/*
.vscode/*
__pycache__
dist/*
!dist/.gitkeep

docs/.vuepress/dist/*
models/*.h5